<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>{{comment.user.user_name}}</div>
      <div>{{formatDate comment.created_date}}</div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>{{comment.content}}</div>
    </div>
  </div>
</div>