<div>
  <div>
    <nav class="navbar navbar-expand-lg bg-black">
      <div class="page-title">
        The Tech Blog
      </div>
    </nav>
    <div class="page-body">
      <div>
        {{#each posts}}
          <div class="mb-3">
            {{> blog-pill post=this clickEffect="comment"}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>