<div>
  <div>
    <nav class="navbar navbar-expand-lg bg-black">
      <div class="page-title">
        The Tech Blog
      </div>
    </nav>
    <div class="page-body">
      <div style="max-height: 65vh; overflow: scroll;">
        {{#each posts}}
          <div class="mb-3">
            {{> blog-post post=this hasCommentButton=true}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>