<div>
  {{#if loggedIn}}
    <div>
      <nav class="navbar navbar-expand-lg bg-black">
        <div class="page-title">
          The Tech Blog
        </div>
      </nav>
      <div class="page-body">
        existing blogs placeholder
      </div>
    </div>
  {{else}}
    <div>
      Please log in to view your blog posts
    </div>
  {{/if}}
</div>